.cart-container {
  padding: 1.5rem;
  border-radius: 12px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart-container h2 {
  font-size: 1.5rem;
  margin-top: -1rem;
  color: black;
}

p {
  color: black;
  font-weight: bold;
  color: red;
}

.cart-container ul {
  list-style: disc;
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}

.cart-container li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.cart-total {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: green;
}

.cart-buttons {
  align-items: end;
  text-align: right;
  margin-top: 2rem;
}

.cart-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cart-buttons .close-btn {
  background-color: #ff4d4f;
  color: white;
}

.cart-buttons .close-btn:hover {
  background-color: #d9363e;
  transform: scale(1.05);
}

.cart-buttons .order-btn {
  background-color: #28a745;
  color: white;
  margin-left: 1rem;
}

.cart-buttons .order-btn:hover {
  background-color: #218838;
  transform: scale(1.05);
}
